body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;

}
.container-fluid {
  padding-left: 3% 15%;
}
h1 {
font-family: 'Montserrat-black', sans-serif;
font-size: 3.5rem;
line-height: 1.5;
font-weight: bold;
text-align: left;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
 font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";

}

.download-button {
  margin: 5% 3% 5% 0;
}
.img1 {
  width: 60%;
}
.features-row {

  padding: 5% 15%;

}



.features-column {
text-align: center;
padding: 5%;

}



.features-icon {
  color: #ef8172;
  font-size: 3.5rem;
  padding: 0 0 5%
}



.features-icon:hover {
  color: blue;
}



.features-h3 {
  font-size: 1.35rem;
  font-weight: 900;
}



.features-p {
  color: #8f8f8f;
  font-family: 'Montserrat-black', sans-serif;
  font-size: 1rem;
  line-height: 1;

}
#testimonials {

text-align: center;
background-color:  #ef8172;
color: #fff;
}

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-img {
width: 15%;
margin: 20px 20px 20px 50px;
}
.card-text {
  font-family: "Montserrat-Bold";
}
#pricing {

}
