body{
  padding:10px;
  font-family: 'Arial';
  background-color: blue;
  color: white;
}

.h3{
  color:#9fff91;
}

h1{
  color:#00c613;
}

img{
  margin-right:20px;
}

.well li{
  list-style-type: none;
  margin-bottom:5px;
  color:#aabfff;
}

.well hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alert-danger{
  color:#c0392b;
}

.btn-primary{
  background: -webkit-linear-gradient(top, #21a6ff, #006bad);
  background: -moz-linear-gradient(top, #21a6ff, #006bad);
  background: -ms-linear-gradient(top, #21a6ff, #006bad);
  background: -o-linear-gradient(top, #21a6ff, #006bad);
  background: linear-gradient(to bottom, #21a6ff, #006bad);
  margin:0 0 20px 0;
}

.twocol-table th:first-child{
  width:50%;
}
p {
  color:white;
}
