body {
	margin:0;
	padding:1rem;
}

form {
	display: inline-block;
	margin:0 2rem 2rem 0;
}

#pictures {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	gap:1rem;
}

#pictures div {
	text-align:center;
}

img {
	max-width:200px;
	max-height:300px;
}