body,
html,
*,
ul {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(#f1f1f1, #e0e0e0);
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.tool-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgba(202, 202, 202, 0.801);
  padding: 15px 30px;
}
.first-wrapper {
  display: flex;
  align-items: center;
}
/* slider */
.slider-container {
  margin-left: 60px;
}
.slider {
  display: inline-block;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  float: right;
}
.num-of-cells-label {
  width: 100%;
  display: block;
  color: #7e7e7e;
  font-size: 12px;
  text-align: center;
  margin: auto;
  padding-bottom: 9px;
}
/* clear buttons */
.clear-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 45px;
  height: 45px;
  margin: 10px 20px;
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.801);
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px 2px rgba(236, 236, 236, 0.801);
  background-color: rgba(145, 145, 145, 0.801);
}
.reset-btn {
  background-color: rgba(161, 161, 161, 0.801);
}
.reset-btn:hover {
  transform: rotate(360deg);
  transition: transform 1.2s ease-out;
}

/* Color Palette */
.color-palette {
  list-style-type: none;
  padding-top: 5px;
}
.color-palette li {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}
.color-palette li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px 1px rgba(202, 202, 202, 0.801);
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.black {
  background-color: black;
}
.brown {
  background-color: brown;
}

/*  Color Grid */
.color-grid {
  /* width: 400px;
  height: 400px; */
  margin: 10px 0;
  padding: 18px 30px;
  background-color: white;
  display: grid;

  box-shadow: 0 3px 6px 2px rgba(202, 202, 202, 0.801);
}
.cell {
  border: 0.4px dotted rgb(226, 226, 226);
  display: block;
  box-sizing: border-box;
}

/***************  MEDIA QUERIES  ******************/
@media only screen and (max-width: 1000px) {
  .clear-buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 45px;
    height: 45px;
    margin: 10px 20px;
  }
}
@media only screen and (max-width: 900px) {
  .tool-bar {
    width: 100%;
    /* flex-direction: column; */
  }
  .btn {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
    font-size: 16px;
  }
  .slider {
    width: 80%;
  }
  .color-palette li {
    width: 30px;
    height: 30px;
    margin: 0 7px;
  }
  .color-grid {
    margin: 20px 0;
    padding: 18px 30px;
  }
}
@media only screen and (max-width: 685px) {
  .slider-container {
    margin-left: 20px;
  }
  .color-palette {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .tool-bar {
    flex-direction: column-reverse;
    justify-content: stretch;
  }
  .first-wrapper {
    width: 80%;
    justify-content: space-between;
  }
  .btn {
    margin: 10px 20px 10px 0;
  }
  .slider-container {
    margin-left: 60px;
    width: 70%;
  }
  .slider {
    width: 100%;
  }
  .color-palette {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0px;
    padding-bottom: 20px;
  }
}

/* Contacts */

.contacts {
  display: flex;
  list-style-type: none;
  padding-top: 18px;
}
.contacts > li > a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.contacts i {
  font-size: 14px;
  color: rgba(83, 83, 83, 0.644);
}
i.codesandbox {
  background: url(./favicon-codesandbox.ico);
  background-size: cover;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}
