body {
  margin: 0;
  padding: 2rem 3rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

main>* {
  display: grid;
  grid-template-columns: 15rem 6rem;
  gap: 1rem;  
}

button {
  margin-left: 2rem;
}